:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.pickupFormTable {
  width: 450px;
}

.button-td {
  width:225px;
}

label {
  display: inline-block;
  width: 150px;
  padding: 0px 10px;
}

.pickupFormTable > td tr { 
  display: inline-block;
  width: 150px;
}

.button-save {
  margin: 0 10px;
}

.point-check {
  width: 20px;
  height: 20px;
}

.PickupList {
  /*background-color: #fef7ff;*/
  background-color: #c272cc;
  display: inline-block;
  width: 350px;
}

.pointList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.point {
  border-bottom: 2px solid;
  display: inline-block;
  width: 100%;
}

.test-container {
  position: relative;
  width: 1000px;
}


.dropdown-header > button {
  position: absolute;
  right: 0;
}

#map {
  width:100%;
}

