:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}

.pickupFormTable {
  width: 450px;
}

.button-td {
  width:225px;
}

label {
  display: inline-block;
  padding: 0px 10px;
}

.pickupFormTable > td tr { 
  display: inline-block;
  width: 150px;
}

.button-save {
  margin: 0 10px;
}

.point-check {
  width: 20px;
  height: 20px;
  position: absolute;
}

.PickupList {
  background-color: #fef7ff;
  /*background-color: #c272cc;*/
  display: inline-block;
  width: 500px;
}

.pointList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.point {
  border-bottom: 1px solid #e6e6e6;
  display: inline-flex;
  width: 100%;
  position: relative;
}

.test-container {
  width: 1000px;
}


.dropdown-header > button {
  position: absolute;
  right: 0.5em;
  padding: 0;
  border: none;
  background: none;
  
}

.dropdown-header > button:hover {
  cursor: pointer;
}

#map {
  width:100%;
}

.dropdown-header {
  padding: 10px 7px;
  background-color: #EBEBEB;
  border-radius: 0.2em;
  position: relative;
}

.template-body {
  border: 1px solid #e6e6e6;
  border-radius: 0.1em;
}

.pickupform {
  width: 400px;
}

.excel-reader {
  width: 60%;
}

.point-list-controls {
  top: 25%;
  align-content: center;
  right: 10%;
  position: absolute;
}

.point-info {
  display: grid;
}

.point-name {
  font-size: 1.1rem;
}